@import url("https://fonts.googleapis.com/css?family=Major+Mono+Display");

* {
	font-family: "Major Mono Display";
}
#container {
	height: 550px;
	margin: 20px auto 20px auto;
	display: flex;
	justify-content: center;
}
 #sidebar {
	display: flex;
	flex-direction: column;
}
 #sidebar * {
	border: 3px solid #b5b5b5;
	border-radius: 5px;
	margin: 0px 20px 20px 20px;
}
 #sidebar #pause {
	height: 60px;
}
 #sidebar #pause i {
	font-size: 30px;
	color: #b5b5b5;
	border: none;
	margin: 10px 50px 10px 50px;
}
 #sidebar #score {
	text-align: center;
	font-size: 24px;
	color: black;
	height: 60px;
	padding: 10px;
	margin-bottom: 0px;
}
 #main-canvas {
	border: 3px solid #b5b5b5;
	border-radius: 0px 0px 5px 5px;
	border-top: none;
}
 #grid-canvas {
	position: absolute;
	transform: translate(-253px, 0px);
}
